body {
    background-color: #D2FABA;
}

h1 {
    text-align: center;
    font-family: Times New Roman;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #56843c;
    border-radius: 5px;
}
p {
    font-family: Times New Roman;
    font-size: 15px;
    color: aliceblue;
    padding: 10px;
    background-color: #56843c;
    border-radius: 5px;
}
#p {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgs img {
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    background-color: #72aa5296;
}